/*.col {
    background-color: grey;
    border: 2px solid black;
}*/

.top-buffer { 
    margin-top:500px; }

.splash-screen{
    color:#fff;
    text-align:center;
    background-image: url(launch.jpg);
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
    height: 100vh;
    border-color: black;
}

.btn-custom{
	background-color: blue;
	color: white;
}

.btn-custom:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}